


#welcome_msg {
  font-size: 30px;
  color: #2c2c2b;
}

#img_container {
  margin: 40px 0 40px 0;
}

#front_img {
  width: 400px;
  box-shadow: 3px 3px 5px rgb(131, 78, 78);
  margin-bottom: 10px;
}

#front_description {
  color: #2c2c2b;
}