
@font-face {
  font-family: 'roboto-regular';
  src: url('./img/fonts/Roboto-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'roboto-bold';
  src: url('./img/fonts/Roboto-Bold.ttf');
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto-regular';
  color: #2c2c2b;
}

body {
  background-color: #FFF8F0;
}

@media only screen and (min-width: 1100px) {
  body {
    display: flex;
    justify-content: center;
  }

  #content {
    width: 1100px;
    margin: 0 20px 0 20px;
    padding: 110px 50px 100px 50px;
  }

}

@media only screen and (max-width: 1099px) {

  #content {
    padding: 110px 10px 100px 10px;
  }

}

#main_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding-top: 0;
}

#logo_container {
  padding: 30px 0 30px 0;

}

#logo_img {
  width: 150px;
  display: block;
  margin: 0 auto 0 auto;
}

#logo_img:hover {
  cursor: pointer;
}

nav {
  margin-top: 5px;
  padding: 0px 13px 0 13px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

nav button {
  width: 100px;
  height: 30px;
  padding-top: 5px;
  border-style: hidden;
  background-color: #FFF8F0;
  color: #4A4A48;
  font-family: 'roboto-bold';
  font-size: 18px;
}

.active,
nav button:hover {
  border-style: solid solid none solid;
  border-width: 0;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  background-color: #FF908B;
  color: #FFF8F0;
  cursor: pointer;
  box-shadow: 1px -1px 2px #c49d9a;
}

nav button:active {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  background-color: #FF908B;
  color: #FFF8F0;
  cursor: pointer;
  box-shadow: -1px 1px 2px #806f6f inset;
}

#content {
  flex: auto;
  border-radius: 13px;
  background-color: #FF908B;
  text-align: center;
}

p a {
  color: #ffffff;
}

p a:hover {
  color: #e7e0d8;
}

img + p {
  font-size: 14px;
}

footer {
  text-align: center;
  vertical-align: middle;
  padding: 25px 0 35px 0;
}

footer a {
  color: #4A4A48;
  text-decoration: underline;
}

footer a:hover {
  color: #80806b;
  cursor: pointer;
}