
.meal_container {
  margin: 150px 0 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal_container:first-of-type {
  margin: 90px 0 150px 0;
}

.menu_img{
  width: 300px;
  margin-bottom: 9px;
  box-shadow: 3px 3px 5px rgb(131, 78, 78);
}

.price {
  margin: 70px 0 40px 0;
}

.menu_description {
  max-width: 700px;
  color: #2c2c2b;
  font-family: 'roboto-bold';
  font-size: 16px;
}